* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #020617;
  position: sticky;
  top: 0;
}

header a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.logo {
  color: #38bdf8;
}

.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero span {
  color: #38bdf8;
}

.hero button {
  margin-top: 20px;
  padding: 12px 25px;
  border: none;
  border-radius: 20px;
  background: #38bdf8;
  font-size: 16px;
}

section {
  padding: 60px 20px;
  text-align: center;
}

.project-box {
  background: #1e293b;
  padding: 20px;
  margin: 15px auto;
  width: 90%;
  max-width: 400px;
  border-radius: 10px;
}

input, textarea {
  width: 90%;
  max-width: 400px;
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

footer {
  padding: 20px;
  background: #020617;
  text-align: center;
  margin-top: 40px;
}
